.close{
  position: absolute;
  right: 15px;
  
  width: 55px;
  height: 55px;
  cursor: pointer;  
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 10px;
  width: 26px;
  height: 4px;
  background: #464E62;
}

.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}