.sliding-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  aligh-items: flex-end;
  top: 0;
  right: -100%;
  width: 370px;
  height: 100%;
  background: #FFF;
  transition: .5s;
  
}

.open{
  right: 0;
}