
.tags__item {
  padding: 13px 21px;
  background: #f1f5f9;
  font-size: 15px;
  font-weight: 600;
  color: rgba($text-color, .7);
  border-radius: 50px;
  margin-right: 10px

}

&:last-child {
  margin-right: 0
}


.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.tag-item {
  margin-right: 15px;
  margin-bottom: 15px;
}