.skill-component {
  display: flex;
  justify-content: space-between

}

.title {
  flex: 1
}

.percent {
  margin-left: 30px
}

.btn {
  margin-left: 10px
}

.buttons {
  aligh-items: center;
  display: flex;
}