script(type="text/x-template")#preview-container
  .works-slider
    display(
      :currentWork="currentWork",
      :works="works",
      :currentIndex="currentIndex"
      @slide="slide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#preview-display
  .works-slider__pics(:data-slide="currentIndex + 1")
    .works-slider__pics-content
      img(:src="currentWork.photo").works-preview__img
      .works-slider__thumbs  
        thumbs(
          :works="reversedWorks",
          :currentWork="currentWork"
        )
      .works-preview__buttons
        btns(
          @slide="$emit('slide', $event)"
        )
      
            
script(type="text/x-template")#preview-thumbs
  ul.thumbs
    li.thumb-item(
      v-for="slide in works" :key="slide.id"
      :class="{active: currentWork.id === slide.id}"
    )
      button.thumb-link
        img(:src="slide.photo").works-slider__thumb-pic

script(type="text/x-template")#preview-btns
  .works-slider__buttons
    button(
      type="button"
      @click="$emit('slide', 'next')"
    ).works-slider__btn.works-slider__btn_next
    button(
      type="button"
      @click="$emit('slide', 'prev')"
    ).works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#preview-info
  .works-slider__data
    tags(
       :tags="tagsArray"
    )
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.desc}}
    .works-slider__link 
      a(href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#preview-tags
  ul.tags
    li.tags__item(v-for="tag in tags")
      .tag {{tag}}
