include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        block content
    .sliding-window
      button.close
      .slide-container
        .sliding-menu 
          nav.menu
            ul.menu__list.slide
              - var menuLinks = ["Обо мне", "Навыки", "Работы", "Отзывы"];
              each item in menuLinks 
                li.menu__item.slide-item
                  a(href="#").menu__link #{item}
        .slide-socials
          ul.socials
              - var socials = ['insta', 'vk', 'github', 'envelope'];
              each item in socials
                li.socials__item
                  a(href=`${item === 'envelope' ? 'mailto:sabantsev@yandex.ru' : '#'}`).socials__link
                    +icon(item, 'socials__icon')
        

    include ./templates/entry.pug